body {
    background-color: black;
    font-style: normal;
    color: white;
}
article {
    padding: 20px;
    border: 1px solid white;
    width: 370px;
    float: left;
    margin-right: 30px;
}
article h2 {
    background-color: gray;
    color: white;
    text-align: center;
    list-style: 2.5;
    margin: -10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
}
article div {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}
article ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
article ul li {
    text-align: center;
}
articcle footer {
    text-align: center
}